.tareef {
  transform: translateX(-20%);
  animation: slideInLeft 1s forwards;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 501px) {
    // padding-right: 7rem;
    flex: 2 0 0;
  }

  &__heading {
    color: var(--VeryDarkMagenta);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0 4rem;
    line-height: 2rem;

    @media screen and (min-width: 501px) {
      font-size: 4rem;
      line-height: 3.5rem;
      text-align: left;
      padding: 0;
    }
  }

  &__text {
    color: var(--DarkGrayishMagenta);
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.7rem;

    @media screen and (min-width: 501px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: left;
    }
  }
}

.rating {
  transform: translateX(20%);
  animation: slideInRight 1s forwards;
  //   border: 2px solid red;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  @media screen and (min-width: 501px) {
    flex: 3 0 0;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 4.3rem;
    border-radius: 0.5rem;
    background-color: var(--LightGrayishMagenta);

    @media screen and (min-width: 501px) {
      flex-direction: row;
      width: 60%;

      &:nth-child(2) {
        position: relative;

        left: 3.5rem;
      }

      &:nth-child(3) {
        position: relative;

        left: 7rem;
      }
    }
  }

  &__text {
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    font-size: 1.1rem;
  }

  &__stars {
    width: 8rem;
    display: flex;
    justify-content: space-evenly;
  }
}

.reviewer {
  padding: 2.2rem;
  background: var(--VeryDarkMagenta);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;

  @media screen and (min-width: 501px) {
    &:nth-child(2) {
      position: relative;

      top: 1rem;
    }

    &:nth-child(3) {
      position: relative;

      top: 2rem;
    }
  }

  &__info {
    display: flex;
    // border: 2px solid red;
  }

  &__img {
    border-radius: 50%;
    width: 2.5rem;
    height: auto;
  }

  &__details {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__name {
    color: var(--White);
    font-size: 1.1rem;
    font-weight: 500;
  }

  &__verified {
    color: var(--SoftPink);
    opacity: 0.7;
    font-weight: 500;
    font-size: 1rem;
  }

  &__review {
    color: var(--LightGrayishMagenta);
    line-height: 1.3rem;
    opacity: 0.9;

    @media screen and (min-width: 501px) {
      font-size: 1.1rem;
    }
  }
}
